<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
</head>
<body>
<h1>Members</h1>
<table border="1">
    {% for x in my_members%}
    <tr>
        <td>
            <a href="update/{{ x.id }}">{{ x.id }}</a>
        </td>
        <td>
        {{ x.firstname }}
        </td>
        <td>
        {{ x.lastname }}
        </td>
        <td>
            <form action="delete/{{ x.id }}" method="get">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<p>
    <a href="add/">Add a member</a>
</p>
</body>
</html>